.footer {
  box-shadow: 0 -7px 80px 0 rgba(189, 189, 189, 0.25);

  &__container {
    padding-top: 40px;
    padding-bottom: 27px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-bottom: 1px solid var(--light-green-stroke);

    padding-bottom: 33px;
    margin-bottom: 18px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav:last-child {
    margin-right: 140px;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 62px;
    }

    &:not(:last-child)::after {
      right: -30px;
      border-color: var(--light-green-stroke);
    }
  }

  &__logo {
    width: 125px;
    height: 27px;
  }

  &__social {
    margin: 0;
    margin-right: auto;
  }

  &__social-item:not(:last-child) {
    margin-right: 20px;
  }

  &__copyright {
    font-family: "Lexend-Regular", sans-serif;
    font-size: 14px;
    line-height: 178%;
    color: var(--text-secondary);

    margin: 0;
  }
}
