.shop-nav {
  display: flex;
  align-items: center;

  margin-left: 13px;

  &__item {
    display: inline-block;
    width: 24px;
    height: 24px;

    use {
      fill: var(--green-brand);
    }
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}
