.products {
  &__container {
    margin-top: 60px;
  }

  &__header {
    margin-bottom: 38px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(512px, max-content));
    justify-content: center;
    gap: 29px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    justify-content: space-between;

    margin-bottom: 32px;
  }

  &__category {
    flex: 1 1 auto;
  }
}

@media (max-width: 1024px) {
  .products__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow-x: auto;
    grid-auto-flow: column;
    scroll-behavior: smooth;
  }
}
