.products-category {
  border: 2px solid var(--light-grey-stroke);
  border-radius: 8px;

  &__container {
    display: flex;
    align-items: center;

    padding: 20px 0 20px 16px;
  }

  &__icon {
    width: 28px;
    height: 28px;

    margin-right: 16px;
  }

  &__name {
    font-family: "Lexend-Regular", sans-serif;
    font-size: 14px;
    line-height: 178%;

    margin: 0;
  }

  &:hover {
    background: var(--white);
    border: 2px solid var(--invisible-green);
  }

  &:active {
    border: 1px solid var(--green-brand);
  }
}
