.hero {
  min-height: 455px;

  &_home-page {
    margin-top: 30px;
  }

  &__container {
    position: relative;
    padding-top: 32px;
  }

  &__content {
    border-radius: 24px;
    background-color: var(--light-green);

    padding: 50px 76px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > * {
      z-index: 2;
    }
  }

  &__title {
    font-family: "Lexend-SemiBold", sans-serif;
    font-size: 48px;
    letter-spacing: -0.05em;
    line-height: 112%;

    max-width: 650px;
    margin: 0 0 11px;
  }

  &__descr {
    font-family: "Lexend-Light", sans-serif;
    font-size: 16px;
    line-height: 175%;

    max-width: 440px;
    margin: 0 0 25px;
  }

  &__price-info {
    display: flex;
    align-items: center;
    margin: 0 0 27px;

    order: 3;
  }

  &__fire {
    width: 46px;
    height: 46px;

    display: inline-block;

    margin: 0;
    margin-right: 16px;

    color: var(--danger);
  }

  &__actual-price {
    margin: 0 21px 0 0;
    font-family: "Lexend-SemiBold", sans-serif;
    font-size: 42px;
  }

  &__old-price {
    margin: 0;
    font-family: "Lexend-SemiBold", sans-serif;
    font-size: 22px;
    text-decoration-line: line-through;

    color: var(--text-secondary);
  }

  &__button-group {
    display: flex;
    gap: 12px;

    order: 4;
  }

  &__image-container {
    position: absolute;
    right: 121px;
    bottom: -4px;

    max-height: 100%;
    pointer-events: none;

    order: 2;

    z-index: 1;
  }
}

.hero-button {
  border: none;
  border-radius: 8px;

  height: 51px;

  font-family: "Lexend-Medium", sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 178%;

  cursor: pointer;

  &--add-cart {
    width: 153px;

    background-color: var(--green-brand);
    color: var(--white);

    &:hover {
      background-color: var(--hover);
    }

    &:active {
      background-color: var(--primary-color);
    }
  }

  &--discover {
    width: 131px;

    background-color: var(--white);
    color: var(--green-brand);

    &:hover {
      background-color: var(--invisible-green);
    }

    &:active {
      background-color: var(--invisible-green);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &__container {
      padding-top: 0;
      margin-top: 16px;
    }
    &__content {
      padding: 0 14px 50px;
    }
    &__title {
      font-size: 28px;
      line-height: 129%;

      order: 3;
    }
    &__descr {
      font-size: 14px;
      line-height: 200%;

      max-width: 100%;
      margin-bottom: 18px;

      order: 4;
    }
    &__price-info {
      margin-bottom: 10px;

      order: 2;
    }
    &__fire {
      width: 32px;
      height: 32px;
      margin-right: 14px;
    }
    &__actual-price {
      font-size: 32px;
      line-height: 106%;
      letter-spacing: -0.05em;
      color: var(--danger);

      margin-right: 12px;
    }

    &__image-container {
      position: static;
      margin: -15px 0 0 -15px;

      width: 90%;

      order: 1;
    }
    &__image {
      width: 90%;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    &__image-container {
      right: 15px;
    }
    &__title {
      max-width: 500px;
    }
  }
}
