.products-category {
  border: 2px solid var(--light-grey-stroke);
  border-radius: 8px;

  &__btn {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 16px;

    height: 68px;
    width: 100%;

    cursor: pointer;
  }

  &__icon {
    width: 30px;
    height: 30px;

    margin-right: 5px;

    color: var(--green-brand);
  }

  &__name {
    font-family: "Lexend-Regular", sans-serif;
    font-size: 14px;
    line-height: 178%;

    margin: 0;
  }

  &_upper {
    text-transform: uppercase;
  }

  &:hover {
    background: var(--white);
    border: 2px solid var(--invisible-green);
  }

  &:active {
    border: 2px solid var(--green-brand);
  }
}
