.reviews {
  min-height: 100%;
  min-width: 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 62px 0 48px 0;
  }

  &__title {
    font-family: "Lexend-SemiBold", sans-serif;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.05em;

    margin: 0 0 29px 0;
  }
}
